<div class="mail-pane message">
  <div class="message-view">
    <div class="subject">{{prettify model.subject}}</div>
    <div class="metadata">
      <div>From: <span class="from">{{prettify model.from.name}} &lt;{{model.from.email}}&gt;</span></div>
      {{#if model.to.length}}
        <div>To:
          {{#each model.to as |recipient|}}
            <span class="to">{{prettify recipient.name}} &lt;{{recipient.email}}&gt;</span>
          {{/each}}
        </div>
      {{/if}}
      {{#if model.cc.length}}
        <div>CC:
          {{#each model.cc as |recipient|}}
            <span class="cc">{{prettify recipient.name}} &lt;{{recipient.email}}&gt;</span>
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{message-view message=model class='content'}}
  </div>
</div>
