<div class="mail-pane message">
  <div class="message-view">
    <div class="subject">{{model.subject}}</div>
    <div class="metadata">
      <div>{{t 'mail.message.from'}}: <span class="from">{{model.from.name}} &lt;{{model.from.email}}&gt;</span></div>
      {{#if model.to.length}}
        <div>{{t 'mail.message.to'}}:
          {{#each model.to as |recipient|}}
            <span class="to">{{recipient.name}} &lt;{{recipient.email}}&gt;</span>
          {{/each}}
        </div>
      {{/if}}
      {{#if model.cc.length}}
        <div>{{t 'mail.message.cc'}}:
          {{#each model.cc as |recipient|}}
            <span class="cc">{{recipient.name}} &lt;{{recipient.email}}&gt;</span>
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{message-view message=model class='content'}}
  </div>
</div>
